body {
    font-family: 'Roboto', sans-serif;
    background: greenyellow;
}
.header {
    background: red;
    display: flex;
    justify-content: space-between;

    &__button{
        display: flex;
    }
}